    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="address-container">
              <h1>ADDRESS</h1>
              <div class="text-container">
                <p>117 Awesome Street, Belgrade SR 877900</p>
              </div>
              <p class="button-container"><button class="btn" type="button">View Map</button></p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="hours-container">
              <h1>OPENING HOURS</h1>
              <div class="text-container">
                <p><span>Monday - Friday</span> ...................................................... <span>8:00am - 11:00pm</span></p>
                <p><span>Saturday - Sunday</span> .................................................... <span>8:00am - 10:00pm</span></p>
              </div>
              <p class="button-container"><button class="btn" type="button">Table Reservation</button></p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="social-container">
              <h1>WE ARE SOCIAL</h1>
              <div class="text-container">
                <p>Feel free to check our social media pages</p>
              </div>
              <div class="social-icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="copy-container col-sm-12">
            <h1>&copy; 2017 QCollins. All Rights Reserved.</h1>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap-clockpicker.min.js" type="text/javascript"></script>
    <script src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
