    <footer class="footer">
      <div class="row">
        <div class="col-sm-2">
          <h1>ADDRESS</h1>
          <p>117 Awesome Street, Belgrade SR 877900</p>
        </div>
        <div class="col-sm-5">
          <h1>OPENING HOURS</h1>
          <p>Monday - Friday .................... 8:00am - 11:00pm</p>
          <p>Saturday - Sunday .................... 8:00am - 10:00pm</p>
        </div>
        <div class="col-sm-3">
          <h1>WE ARE SOCIAL</h1>
          <p>Feel free to check our social media pages</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p>View Map</p>
        </div>
        <div class="col-sm-5">
          <p>Table Reservation</p>
        </div>
        <div class="col-sm-3">
          <div class="social-icons">
            <i>F</i>
            <i>T</i>
            <i>G</i>
            <i>Y</i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="copy-container col-sm-12">
          <h1>&copy; 2017 QCollins. All Rights Reserved.</h1>
        </div>
      </div>
    </footer>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
