header {
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    background: rgba(0, 0, 0, 1);
}

.wrapper {
    min-height: 100%;
    width: 100%;
}

footer {
    background: rgb(170, 20, 21);
    padding: 1.5em;
    h1 {
        font-size: 1.7em;
        text-align: center;
        color: white;
        font-family: GothamMedium;
    }
}

