header {
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    background: white;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    padding-top: 85px;
    .landing {
        max-height: 750px;
    }
    .aboutUs {
        min-height: 880px;
        max-height: 880px;
        @include bp-large {
            max-height: none;
        }
        background: #fff;
    }
    .specialities {
        min-height: 600px;
    }
    .menu {
        min-height: 1512px;
        background: brown;
    }
    .booking {
        min-height: 590px;
        background: purple;
    }
}

footer {
    background: rgb(170, 20, 21);
    padding: 1.5em;
    h1 {
        font-size: 1.7em;
        text-align: center;
        color: white;
        font-family: GothamMedium;
    }
}

