header {
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    background: rgba(0, 0, 0, 1);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    .landing {
        height: 750px;
        background: url('./../img/dev/foodhead.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .about-us {
        height: 880px;
        background: dimgrey;
    }
    .specialities {
        height: 600px;
        background: maroon;
    }
    .menu {
        height: 1512px;
        background: brown;
    }
    .booking {
        height: 590px;
        background: purple;
    }
    .hours {
        height: 320px;
        background: teal;
    }
}

footer {
    background: rgb(170, 20, 21);
    padding: 1.5em;
    h1 {
        font-size: 1.7em;
        text-align: center;
        color: white;
        font-family: GothamMedium;
    }
}

